.container {
  padding: 0 2rem;
  background: rgb(26, 48, 80);
  background: radial-gradient(
    circle,
    rgba(26, 48, 80, 1) 0%,
    rgba(14, 26, 45, 1) 100%
  );
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 100;
}

.icons {
  display: flex;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.github {
  background: url("../public/github.svg");
  background-size: contain;
}

.linkedin {
  background: url("../public/linkedin.svg");
  background-size: contain;
}
